{% extends 'layout.html' %}

{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/a1.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Hi, I'm Aman</h1>
                    <br>
                    <h2><i>Hey, my name is Aman Kumar Singh and I love to work on Electronics.</i></h2>
                    <br>
                    <span class="subheading"><b>It's been thrill on working with hardwares whom you can control through your Knowledge,
                        Logic and Programming.</b></span>
                    <br>
                    <i><h2>#Knowledge is your Operating System</h2></i>
                    <br>
                    <span class="subheading"><b>Good judgement comes from experience, and experience comes from bad judgement.</b>></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Myself Aman Kumar Singh, I have been working on Embedded Systems and IoT for past 4 Years. I worked as
                Application Engineer at Technologics Global Private Limited.</p>
            <p>Primary objective is to execute full life-cycle developments of projects including Hardware & Software
                Testing and Design Verification.</p>
            <p>Hands on experience in system development and unit testing of Embedded Applications with the use of
                appropriate tools.</p>
            <p>Have working Experience on different types of client and cloud platforms like Blynk, Thingspeak, Hive-MQ,
                Mosquitto, PAHO MQTT, AWS EC2, Google Firebase, Adafruit IO, etc.</p>
            <hr>
            <b>Programming Languages:</b> Embedded C, C Programming, C++ Programming,
            Python Programming
            <hr>
            <b>IDE:</b> Keil(uVision), MPLAB, Arduino, Cube MX, XOD
            <hr>
            <b>MCU:</b> STM32FXX, LPC1768, Arduino, MICROCHIP PIC 16F/18F, NUVOTON
            89C51/52, NodeMCU, Raspberry Pi
            <hr>
            <b>IOT Module:</b> GSM/GPRS(SIMCOM800), Wi-Fi (ESP8266)
            <hr>
            <b>Communication Protocol:</b> UART, I2C, SPI, TCP/IP
            <hr>
            <b>IOT Protocols:</b> MQTT, HTTP, TCP, COAP
            <hr>
            <b>Peripherals:</b> All basic embedded peripherals like ADC, DAC, UART, Timers,
            PWM, RTC, Memory (EEPROM)
            <hr>
            <b>PCB Designing:</b> Autodesk Eagle 9.6, Cadence OrCAD 17.2
            <hr>
            <b>Sensors Type:</b> 4-20 mA current loop, PNP/NPN, PWM, Pulse, Voltage, Frequency
            <hr>
            <b>Hardware Designing:</b> Designing of circuits targeting less components/cost with
            low power/space constraints
            <hr>
            <b>Testing & Analysis:</b> Analog, Digital and Mix signal scopes, Logic Analyzer, Wave
            form generators
            <hr>
            <b>Wireless Modules:</b> Bluetooth Low Energy BLE (4.0), X-Bee, RFID, Li-Fi, UHFID
            <hr>
            <b>Web Framework:</b> Django, Flask
            <hr>
        </div>
    </div>
</div>

{% endblock %}
